.wp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;   
    img{
        max-width: 100%;
    }         
}
.page{
    font-size: 72px;
    line-height: 320px;
    text-align: center;
    position: relative;
}



/* 箭头 */
@-webkit-keyframes start {
     0% {
        opacity: .2;
        transform: translate(0,10px);
    }
    50% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, 10px);
    }
}
@keyframes start {
    0% {
        opacity: .2;
        transform: translate(0,10px);
    }
    50% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, 10px);
    }
}
.start{
    position: fixed;
    left: 50%;
    margin-left: -17px;
    top: 95%;
    margin-top: -24px;
    width: 64px;
    height: 64px;
}
.start b{
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -9px;
    width: 24px;
    height: 23px;
    background: url(../images/next.png) no-repeat;
    background-size: 100% 100%;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}

.loading{
    position: absolute;
    z-index: 99999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    .svgbox{
        width: 144px; /*no*/
        height: 144px; /*no*/
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -72px; /*no*/
        margin-left: -72px; /*no*/
    }
}