<body class="bgcolor">
    <div class="app">
        <div class="wp">
            <div class="wp-inner">
                <div class="page">
                    <img src="./build/images/1.png" alt="">
                </div>
                <div class="page">
                    <img src="./build/images/2.png" alt="">
                </div>
                <div class="page">
                    <img src="./build/images/3.png" alt="">
                </div>
                <div class="page">
                    <img src="./build/images/4.png" alt="">
                </div>
            </div>
        </div>
        <span class="start"><b></b></span>
    </div>
</body>