<body class="bgcolor">
    <div class="app m-auto">
        <section class="help-problem">
            <ul>
                <li class="">
                    <h5 class="title">什么是拼邮</h5>
                    <div class="content-wp">
                        <div class="content">
                            <p>
                                拼邮就是省运费、交朋友！
                            </p>
                            <p>
                                由会员(团长)发起，同城会员(团员)参与抱团，团长和团员的包裹合并为一个大包裹，发货到团长那里，由团长分发给团员。
                            </p>
                        </div>
                        <div class="pack-up slideDown"></div>
                    </div>
                </li>
                <li>
                    <h5 class="title">拼邮的好处</h5>
                    <div class="content-wp">
                        <div class="content">
                            <p>
                                1、 享受拼邮带来的更优惠的国际运费、运费服务费。

                            </p>
                            <p>
                                2、 结交同城小伙伴，海外生涯不孤单。
                            </p>
                            <p>
                                3、 当每位团员确认收货时，团长即可获得团员确认收货所获得的番币×50%，上不封顶。<span class="red">(团长专属)</span>
                            </p>
                            <p>
                                4、 <a href="http://www.panli.com/Special/DeliverTogether201608_H5.aspx" class="red">活动期间，所有成功拼邮的团长和团员都将获得额外的福利，每个城市的首位团长将获得“30天免服务费特权”，团长和团员将分别获得“120元拼邮大礼包”和“60元拼邮大礼包”。详情猛戳&gt;</a>
                            </p>
                        </div>
                        <div class="pack-up slideDown"></div>
                    </div>
                </li>
                <li>
                    <h5 class="title">哪些城市开通了拼邮</h5>
                    <div class="content-wp">
                        <div class="content">
                            <p>
                                现已开通澳大利亚的墨尔本、悉尼，其他地区将陆续开放。
                            </p>
                            <p>
                                建议您允许手机定位，以便您所在的城市开通后，第一时间收到我们的通知。
                            </p>
                            <p>
                                如果您和身边的朋友想参加拼邮，但是您所在的城市尚未开通，欢迎在App中打开“我的-更多-意见反馈”给我们留言。
                            </p>
                        </div>
                        <div class="pack-up slideDown"></div>
                    </div>
                </li>
                <li>
                    <h5 class="title">拼邮的运送方式及运费</h5>
                    <div class="content-wp">
                        <div class="content">
                            <p>
                                运送方式为拼邮专线，服务与Panli专线一致。
                            </p>
                            <p>
                                拼邮专线(澳大利亚)按照“75rmb/首重500g，5.8rmb/续重100g”计算运费，时效为5-7个工作日。
                            </p>
                        </div>
                        <div class="pack-up slideDown"></div>
                    </div>
                </li>
                <li>
                    <h5 class="title">拼邮的流程</h5>
                    <div class="content-wp">
                        <div class="content">
                            <p>
                                团长发起拼邮预告→团员关注拼邮团→团长正式开团→团员参加拼邮→拼邮成功后Panli发货→团长收货→团长将包裹分发给团员
                            </p>

                        </div>
                        <div class="pack-up slideDown"></div>
                    </div>
                </li>
                <li>
                    <h5 class="title">如何成为团长、发起拼邮</h5>
                    <div class="content-wp">
                        <div class="content">
                            <p>
                                1、 申请团长资格(仅首次申请需审核)
                            </p>
                            <p>
                                2、 发起拼邮预告(提早让大家关注您的开团意向)
                            </p>
                            <p>
                                3、 正式开团
                            </p>
                        </div>
                        <div class="pack-up slideDown"></div>
                    </div>
                </li>
                <li>
                    <h5 class="title">如何参加拼邮</h5>
                    <div class="content-wp">
                        <div class="content">
                            <p>
                                <span class="red">* </span>关注“即将开团”的拼邮团，以便团长正式开团时，系统自动通知您来参加拼邮。 (目前手机推送仅限ios，安卓通知功能正在开发ing)
                            </p>
                            <p>
                                <span class="red">* </span>正式开团时，勾选“已到Panli”的商品进行抱团。
                            </p>
                        </div>
                        <div class="pack-up slideDown"></div>
                    </div>
                </li>
                <li>
                    <h5 class="title">拼邮有哪些限制</h5>
                    <div class="content-wp">
                        <div class="content">
                            <p>
                                <span class="red">* </span>敏感商品/重抛商品/转运商品/易碎品无法参加拼邮。
                            </p>
                            <p>
                                <span class="red">* </span>每位团员(含团长)的商品价值上限为1000rmb，重量上限为10kg。
                            </p>
                            <p>
                                <span class="red">* </span>每个团的重量上限为20kg，采取“先到先得”，遇见合适的团，抓紧抱团喔。
                            </p>
                        </div>
                        <div class="pack-up slideDown"></div>
                    </div>
                </li>
                <li>
                    <h5 class="title">拼邮成功的条件</h5>
                    <div class="content-wp">
                        <div class="content">
                            <p>
                                2人(含团长)参加拼邮就是组团成功。
                            </p>
                        </div>
                        <div class="pack-up slideDown"></div>
                    </div>
                </li>
                <li>
                    <h5 class="title">团长如何收货、分发</h5>
                    <div class="content-wp">
                        <div class="content">

                            <p>
                                1、 团长收到包裹后，需清点参加拼邮的包裹数目及对应的收货人、手机号码，清点后在App内进行“确认收货”操作。
                            </p>
                            <p>
                                2、 团长根据开团时与团员们的约定，将包裹分发给参加拼邮的团员。团员凭借手机号码领取包裹，手机号码与抱团时的一致。
                            </p>
                            <p>
                                一般不容易被税，如遇到特殊情况，请团长按以下操作：
                            </p>
                            <p>
                                <span class="red">* </span>遇到包裹被抽查，需配合当地海关进行清关。
                            </p>
                            <p>
                                <span class="red">* </span>收到的包裹被海关拆开，需要将大包裹称重(以便后续判断海关是否扣除部分商品)，以及重新封装团员的包裹。
                            </p>
                        </div>
                        <div class="pack-up slideDown"></div>
                    </div>
                </li>

            </ul>
        </section>
    </div>

</body>